@media screen and (max-width: 1919px) and (min-width: 1200px){

.developmentsec-content-slider{
  margin-left: 0px !important;
  width: calc(100vw - 15px) !important;
  width: -webkit-calc(100vw - 15px) !important;
  width: -moz-calc(100vw - 15px) !important;
}

.reviewssec {
  margin-left: 0px !important;
    width: calc(100vw - 15px) !important;
  width: -webkit-calc(100vw - 15px) !important;
  width: -moz-calc(100vw - 15px) !important;
  
}

.teamsec-content-slider {
  margin-left: 0px !important;
    width: calc(100vw - 15px) !important;
  width: -webkit-calc(100vw - 15px) !important;
  width: -moz-calc(100vw - 15px) !important;
}
  
  /*-------------------------------ВРАП-МЕНЮ-------------------------------*/  
    .header_content {
      padding-left: 20px;
      padding-right: 20px;
    }

    .header_content-wrap-navmenu{
    column-gap: 150px;
  }


  /*-------------------------------ШАПКА-------------------------------*/  
    .header{
      padding-left: 20px;
      padding-right: 20px;
    }

  /*-------------------------------ПЕРВАЯ СЕКЦИЯ-------------------------------*/
    .firstssec{
      padding-left: 20px;
      padding-right: 20px;
    }

    .firstssec-content h1 {
      font-size: 5rem;
    }

    .firstssec-content {
      margin-top: 140px;
    }

    .firstssec-content-title {
      padding-top: 40px;
    }

    .firstssec-content h1 > p:nth-child(2) {
      text-align: center;
    }


  /*-------------------------------СЕКЦИЯ НАПРАВЛЕНИЕ РАБОТЫ-------------------------------*/

     .directionsec{
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 200px;
    }

    .directionsec-content-rightpart h2 {
      font-size: 2rem;
    }

  /*-------------------------------СЕКЦИЯ РАЗРАБОТКА САЙТОВ-------------------------------*/

     .developmentsec{
      padding-left: 20px;
      
    }

    .developmentsec-content-slider{
      margin-left: 0px;
    }

    .developmentsec-content-slider-item h3 {
      font-size: 1.15rem;
    }

    .developmentsec-content-slider-item {
      padding-left: 25px;
      padding-right: 25px;
    }

    .developmentsec-content-slider-item a {
      margin: 0 auto;
      margin-top: 40px;
      padding-left: 13px;
      padding-right: 13px;
    }

    .developmentsec-content-slider-item p {
      margin-top: 0px;
    }

    .developmentsec-content-slider {
      margin-left: -20px;
    }


  /*-------------------------------СЕКЦИЯ ПОДДЕРЖКА САЙТОВ-------------------------------*/

     .supportsec{
      padding-left: 20px;
      padding-right: 20px;
    }

    .supportsec-content-list-item{
      padding-left: 25px;
      padding-right: 25px;
    }

  /*-------------------------------СЕКЦИЯ 100+ ПРОЕКТОВ-------------------------------*/

     .projectssec{
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 200px;
    }

    .projectssec-content-list-uppart {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .projectssec-content-list-uppart > div:nth-child(2) > div:nth-child(1) > img:nth-child(1) {
      padding-bottom: 0;
    }

    .projectssec-content-list-uppart > div:nth-child(1) > div:nth-child(1) > img:nth-child(1) {
      width: 100%;
      height: 360px;
      object-fit: cover;
      border-radius: 37px;
    }

     .projectssec-content-list-uppart > div:nth-child(2) > div:nth-child(1) > img:nth-child(1) {
      width: 100%;
      height: 360px;
      object-fit: cover;
      border-radius: 37px;
    }

     .projectssec-content-list-uppart > div:nth-child(3) > div:nth-child(1) > img:nth-child(1) {
      width: 100%;
      height: 360px;
      object-fit: cover;
      border-radius: 37px;
    }

    
    .projectssec-content-list-downpart {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .projectssec-content-list-downpart > div:nth-child(2) > div:nth-child(1) > img:nth-child(1) {
      padding-bottom: 0;
    }

    .projectssec-content-list-downpart > div:nth-child(1) > div:nth-child(1) > img:nth-child(1) {
      width: 100%;
      height: 360px;
      object-fit: cover;
      border-radius: 37px;
    }

     .projectssec-content-list-downpart > div:nth-child(2) > div:nth-child(1) > img:nth-child(1) {
      width: 100%;
      height: 360px;
      object-fit: cover;
      border-radius: 37px;
    }

     .projectssec-content-list-downpart > div:nth-child(3) > div:nth-child(1) > img:nth-child(1) {
      width: 100%;
      height: 360px;
      object-fit: cover;
      border-radius: 37px;
    }


  /*-------------------------------СЕКЦИЯ ВОЗНИКЛИ ВОПРОСЫ-------------------------------*/

    .questionssec{
      padding-left: 20px;
      padding-right: 20px;
    }

    .questionssec-content-order {
      width: 130px;
      height: 166px;
    }

    .questionssec-content-order p {
      font-size: 1rem;
    }


  /*-------------------------------СЕКЦИЯ ПРЕИМУЩЕСТВА-------------------------------*/

    .advantagessec{
      padding-left: 20px;
      padding-right: 20px;
    }

    .advantagessec-content-rightpart ul {
      z-index: 13;
      position: relative;
    }

    .advantagessec_right_image {
      z-index: 12;
    }

    .advantagessec-content-rightpart h3 {
      z-index: 12;
      position: relative;
    }

    .advantagessec_right_image {
      right: -15px;
    }   

  /*-------------------------------СЕКЦИЯ ПРЕИМУЩЕСТВА-------------------------------*/

    .cmssec{
      padding-left: 20px;
      padding-right: 20px;
    }

    .cmssec-content-list {
      column-gap: 15px;
    }

  /*-------------------------------СЕКЦИЯ СЕРТИФИКАЦИЯ-------------------------------*/

    .sertificatessec{
      padding-left: 20px;
      padding-right: 20px;
    }


  /*-------------------------------СЕКЦИЯ ОТЗЫВЫ-------------------------------*/

    .reviewssec_header {
      padding-left: 20px;
      padding-right: 20px;
    }

    .reviewssec-content {
    grid-template-areas:
      "one three five" 
      "one four  five" 
      "two four  six" 
      "two four  six"
      "seven seven seven"
      "seven seven seven";
      justify-content: center;
      column-gap: 20px;
      grid-row-gap: 20px;
      margin: 0 auto;
      margin-top: 30px;
  }

  .reviewssec-content-item:nth-child(7) {
    max-width: 1180px;
    width: auto !important;
  }

  .reviewssec-content-item:nth-child(7):hover > .item-filter {
    max-height: unset;
    object-fit: cover;
    max-width: unset;
  }


  /*-------------------------------СЕКЦИЯ КВИЗ-------------------------------*/

     .kvizsec{
     padding-left: 20px;
     padding-right: 20px;
    }

    .kvizsec-content-main-container {
      max-width: 603px;
    }

    .kvizsec-content-main-slider-item-progressbar p {
      max-width: 603px;
    }

    .kvizsec-content-main h3 {
      font-size: 1.25rem;
    }



  /*-------------------------------СЕКЦИЯ НАПИШИТЕ НАМ-------------------------------*/

     .writetoussec{
      padding-left: 20px;
      padding-right: 20px;
    }

    .writetoussec-content-form-inputs {
      max-width: 665px;
    }

    .writetoussec-content-form-inputs input {
      font-size: 1rem;
      max-width: unset;
      width: 100%;
    }


  /*-------------------------------СЕКЦИЯ ПОДВАЛ-------------------------------*/

     footer{
      padding-left: 20px;
      padding-right: 20px;
    }
}



@media screen and (max-width: 1500px) and (min-width: 1440px){
  .header_content_rightpart-links a:nth-child(2) {
      margin-left: 30px !important;
    }
}




@media screen and (max-width: 1450px) and (min-width: 1200px){



 
/*-------------------------------ВРАП-МЕНЮ-------------------------------*/  
  .popup {
    left: -110%;
  }

  .header_content-wrap{
    padding-left: 20px;
    padding-right: 20px;
  }

  .header_content-wrap-navmenu{
    column-gap: 94px;
    padding-top: 80px;
  }

/*-------------------------------ШАПКА-------------------------------*/ 

  

  .header{
    padding-left: 20px;
    padding-right: 20px;
  }

  .header_content_rightpart-messengers {
    margin-left: 5px;
    column-gap: 5px;
  }

  .header_content_rightpart-burger {
    margin-left: 15px;
  }

  .header_content_leftpart-title p {
    max-width: 175px;
  }

  .header_content_rightpart-links a:nth-child(2) {
    margin-left: 5px;
  }

  .header_content_rightpart-links a:nth-child(3) {
    margin-left: 15px;
  }

/*-------------------------------ПЕРВАЯ СЕКЦИЯ-------------------------------*/

  .firstssec-content h1{
    font-size: 4rem;
  }

  .firstssec-content {
    margin-top: 150px;
  }

  .firstssec-content-title {
    padding-top: 45px;
  }

  .firstssec-content-order {
    margin-top: -5px;
  }

  .firstssec-content {
    margin-top: 100px;
  }

  .firstssec-content-title {
    padding-top: 20px;
  }
 
/*-------------------------------СЕКЦИЯ НАПРАВЛЕНИЕ РАБОТЫ-------------------------------*/
  
  .directionsec {
    margin-top: 150px;
  }

/*-------------------------------СЕКЦИЯ РАЗРАБОТКА САЙТОВ-------------------------------*/

  .developmentsec{
    margin-top: 150px;
  }


/*-------------------------------СЕКЦИЯ ПОДДЕРЖКА САЙТОВ-------------------------------*/

  .supportsec{
   
  }

  .supportsec-content-list-item h3 {
    font-size: 1.15rem;
  }


/*-------------------------------СЕКЦИЯ НУЖНА КОНСУЛЬТАЦИЯ-------------------------------*/

  .consultsec{
   
  }

  .consultsec-content {
    margin-left: 60px;
  }

/*-------------------------------СЕКЦИЯ 100+ ПРОЕКТОВ-------------------------------*/

  .projectssec{
    margin-top: 150px;
  }

  .projectssec-content-header h2 {
    font-size: 4rem;
  }

  .projectssec-content-list-item h3 {
    font-size: 1.5rem;
  }

  .projectssec-content-list-uppart {
    column-gap: 20px;
  }

  .projectssec-content-list-downpart {
    column-gap: 20px;
    margin-bottom: 150px;
  }

  .projectssec-content-header p {
    font-size: 1rem;
  }

  .projectssec-content-header {
    column-gap: 4px;
  }


/*-------------------------------СЕКЦИЯ БЕГУЩАЯ СТРОКА-------------------------------*/

  .runninglinesec{
    
  }

  .runninglinesec-content-list-downpart-item {
    margin-bottom: 150px;
  }

/*-------------------------------СЕКЦИЯ НАША КОМАНДА-------------------------------*/

  .teamsec{
    
  }

  .teamsec-content-header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .teamsec-content-header h2 {
    font-size: 4rem;
  }

  .teamsec-content-slider-item {
    max-width: 385px;
    height: 350px !important;
  }

  .teamsec-content-slider-item:hover {
    height: 400px !important;
    max-width: 400px;
  }

/*-------------------------------СЕКЦИЯ ЕСТЬ ВОПРОСЫ-------------------------------*/

  .questionssec{
    
  }

/*-------------------------------СЕКЦИЯ ПРЕИМУЩЕСТВА-------------------------------*/

  .advantagessec{
    
  }

/*-------------------------------СЕКЦИЯ ЦМС-------------------------------*/

  .cmssec{
    
  }

  .cmssec-content-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
  }

/*-------------------------------СЕКЦИЯ СЕРТИФИКАТЫ-------------------------------*/

  .sertificatessec{
    
  }

  .sertificates-content-rightpart-list {
    column-gap: 5px;
  }

/*-------------------------------СЕКЦИЯ ОТЗЫВЫ-------------------------------*/

  .reviewssec{
    padding-top: 150px;
  }

  .reviewssec-content {
 
    justify-content: center;
    column-gap: 20px;
    grid-row-gap: 20px;
    margin: 0 auto;
    max-width: 1240px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

  .reviewssec-content-item p {
    font-size: 1rem;
  }

  .reviewssec-content-item {
    width: 100%;
    max-width: 308px;
  }

  .reviewssec-content {
    justify-content: center;
    justify-items: center;
  }

  .reviewssec-content-item:nth-child(7) {
    max-width: 1050px;
  }

  .reviewssec-slider-item-header img{
    width: 30%;
  }

  .reviewssec-slider {
    margin-left: 60px;
  }


/*-------------------------------СЕКЦИЯ КВИЗ-------------------------------*/

  .kvizsec{
    
  }

  .kvizsec-content-main {
    padding-left: 0;
    flex-direction: column;
  }

  .kvizsec-content-main-promo {
    width: auto;
    order: 1;
  }

  .kvizsec-content-main h3 {
    padding-top: 40px;
    margin-bottom: 30px;
  }

  .kvizsec-content-main-container {
    order: 2;
  }

  .kvizsec-content-main-container {
    margin: 0 auto;
  }

  .kvizsec-content-main-slider-buttons-leftbtn {
    position: absolute;
    top: 120px;
    left: -270px;
  }

  .kvizsec-content-main-slider-buttons-rightbtn {
    position: absolute;
    top: 120px;
    right: -270px;
  }

  .kvizsec-content-main-promo {
    padding-top: 0px;
    background-position: right bottom;
    background-size: 50%;
  }

  .kvizsec-content-main-slider-item-form {
    padding-bottom: 40px;
  }

  .kvizsec-content-main-container {
    position: relative;
  }

  .kvizsec-content-main-promo-twenty h4 {
    margin-top: 0px;
  }

  .kvizsec p {
    margin-bottom: 10px;
  }

  .kvizsec-content-main-promo-twenty h4 {
    margin-top: 0px;
  }

/*-------------------------------СЕКЦИЯ НАПИШИТЕ НАМ-------------------------------*/

   .writetoussec{
   
  }

  .writetous-btns {
    flex-direction: row;
  }

  .writetoussec-content-form {
    flex-direction: column;
    row-gap: 30px;
  }

 /*-------------------------------СЕКЦИЯ ПОДВАЛ-------------------------------*/ 
   footer{
    margin-top: 100px;
  }

  .footer_content-downpart-logo-navmenu-list-item a {
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer_content-uppart a {
    font-size: 2rem;
  }

  .footer_content-downpart {
    margin-bottom: 50px;
  }
}




































@media screen and (max-width: 1199px) and (min-width: 320px){

   body{
     overflow-x: hidden !important;
  }



.runninglinesec{
   width: 100vw !important;

}



/*-------------------------------ШАПКА-------------------------------*/ 
   
  .body_background_image {
    width: 70%;
    top: 75px;
  }

  .header_content_leftpart-title {
    display: none;
  }

  .header_content_rightpart-links > a:nth-child(1) {
    display: none;
  }

  a.upper:nth-child(3) {
    display: none;
  }

  .header_content_rightpart-messengers {
    display: none;
  }

  .header_content_rightpart-links a:nth-child(2) {
    font-family: "Unbounded-700", sans-serif;
    font-size: 0.813rem;
    margin-left: 0;
  }

  .header_content_leftpart-vertline {
    display: none;
  }

  .header_content {
    padding-top: 8px;
  }

  .header_content_rightpart-burger-btn {
    width: 57px;
    height: 57px;
  }

  .header_content_rightpart-burger {
    margin-left: 15px;
  }

  .header_content:nth-child(1) {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header_content_leftpart-logo > a:nth-child(1) > img:nth-child(1) {
    width: 96px;
  }

  #hamb > img:nth-child(1) {
    width: 25px;
  }

/*-------------------------------ВРАП-МЕНЮ-------------------------------*/ 

  .popup{
    
  }

  .popup {
    left: -500%;
    padding-top: 8px;
  }

  .header_content-wrap{
    padding-left: 20px;
    padding-right: 20px;
  }

  #close_popup > img:nth-child(1) {
    width: 50px;
  }

  .close_popup {
    top: 8px;
  }

  .header_content-wrap-navmenu {
    padding-top: 25px;
    flex-direction: column;
  }

  img.rot {
    width: 150px;
  }

  .header_content-wrap-navmenu-righpart-list-item a {
    font-size: 1.5rem;
  }

  .header_content-wrap-navmenu-righpart-list ul {
    row-gap: 15px;
  }

/*-------------------------------ПЕРВАЯ СЕКЦИЯ-------------------------------*/

  .firstssec{
    padding-left: 15px;
    padding-right: 15px;
  }



  .firstssec-content {
    margin-top: 21px;
  }

  .firstssec-content h1 {
    font-size: 1.25rem;
    line-height: 28px;
  }

  .firstssec-content h1 > p:nth-child(2) > br{
    display: block;
  }

  .firstssec-content h1 > p:nth-child(3){
    display: 
  }

  .firstssec-content h1 > p:nth-child(1) {
    text-align: left;
  }

  .firstssec-content h1 > p:nth-child(2) > b{
   
  }

   .firstssec-content h1 > p:nth-child(3) > b{
    display: block;
  }

  h1.upper > p:nth-child(3) {
    white-space: nowrap;
    display: flex;
  }

  .firstssec-content-title {
    padding-left: 12px;
    padding-top: 15px;
  }

  .firstssec-content-title ul > li {
    font-family: "Circe-300";
    font-size: 0.875rem;
    line-height: 13px;
    text-transform: none;
  }

  .firstssec-content-title ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .firstssec-content-title > ul:nth-child(1) > li:nth-child(3) {
    white-space: nowrap;
  }

  .firstssec-content-order {
    width: 117px;
    height: 117px;
    margin-top: 11px;
  }

  .firstssec-content-order p {
    font-family: "Unbounded-600", sans-serif;
    font-size: 0.625rem;
    line-height: 13px;
    font-weight: 600;
  }

  .firstssec-content-order > img:nth-child(2) {
    width: 37px;
    height: 21px;
  }

  .firstssec-content-order p {
    margin-bottom: 5px;
  }


/*-------------------------------СЕКЦИЯ НАПРАВЛЕНИЕ РАБОТЫ-------------------------------*/

  .directionsec{
    padding-left: 15px;
    padding-right: 15px;
  }

  .directionsec-content-leftpart > img:nth-child(1) {
    width: 48vw;
  }

  .directionsec {
    margin-top: 53px;
  }

  .directionsec-content {
    flex-direction: column;
  }

  .directionsec-content-rightpart h2 {
    font-size: 1rem;
    line-height: 24px;
    margin-top: 21px;
  }

  .directionsec-content-rightpart p {
    font-size: 0.875rem;
    margin-top: 16px;
  }

  .firstssec-blur {
    left: 10%;
    width: 295px;
    height: 295px;
    top: 6%;
    opacity: 0.8;
  }

  .directionsec-content-rightpart > h2:nth-child(1) > br:nth-child(2) {
    display: none;
  }

  .directionsec-blur {
    display: none;
  }

  .directionsec-blur-two {
    display: none;
  }

  .directionsec-content-rightpart p {
    line-height: 15px;
  }

/*-------------------------------СЕКЦИЯ РАЗРАБОТКА-------------------------------*/

  .developmentsec{
    padding-left: 15px;
    margin-top: 16px;
  }

  .developmentsec-content h2 {
    font-size: 1rem;
    margin-bottom: 0px;
  }

  .developmentsec-content-slider {
    margin-left: -49px;
    width: 109.5vw !important;
  }

  .developmentsec-content-slider-item {
    height: 261px !important;
    padding-left: 17px;
    padding-right: 17px;
    margin: 0px 7px;
    padding-top: 25px;
    margin: 0px;
    margin-right: 14px;
    padding-bottom: 24px;
  }



  .developmentsec-content-slider-item h3 {
    font-size: 0.813rem;
    line-height: 19px;
  }

  .developmentsec-content-slider-item p {
    font-family: "Circe-400", sans-serif;
    font-size: 0.75rem;
    line-height: 20px;
    margin-top: 16px;
  }

  .developmentsec-content-slider-item-list li {
    font-size: 0.875rem;
  }

  .developmentsec-content-slider-item a {
    font-size: 0.625rem;
    margin-top: 16px;
    max-width: 164px;
  }

  .developmentsec-content-slider-item-list li {
    letter-spacing: 0.1px;
  }

  .developmentsec-content-slider > div:nth-child(1) > div:nth-child(1) {
    padding-bottom: 5px;
  }

   .developmentsec-content-slider-item {
    margin: 0px;
    margin-right: 7px !important; 
    width: 238px !important;
  }

.developmentsec-content-slider {
    margin-left: 0px !important;
      width: calc(100vw - 15px) !important;
  width: -webkit-calc(100vw - 15px) !important;
  width: -moz-calc(100vw - 15px) !important;
  }

.slick-list {
  width: 279px;
  overflow: visible !important;
}


/*-------------------------------СЕКЦИЯ ПОДДЕРЖКА-------------------------------*/

  .supportsec{
    padding-left: 15px;
    margin-top: 50px;
    /*overflow-x: hidden !important;*/
  }

  .supportsec-content h2 {
    font-size: 1rem;
    margin-bottom: 0px;
    max-width: 240px;
    line-height: 21px;
    margin-bottom: 10px;
  }

  .supportsec-content-list-item {
    height: 261px !important;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    margin: 0px;
    margin-right: 14px;
    padding-bottom: 24px;
  }

  .supportsec-content-list {
    margin-left: -49px;
    width: 109.5vw !important;
  } 

  .supportsec-content-list-item {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    margin: 0px;
    margin-right: 0px;
    margin-right: 14px;
  }


  .supportsec-content-list-item:nth-child(3) {
    margin-right: 14px;
  }

  .supportsec-content-list-item h3 {
    font-size: 0.813rem;
    line-height: 19px;
  }

  .supportsec-content-list-item p {
    font-family: "Circe-400", sans-serif;
    font-size: 0.75rem;
    line-height: 20px;
    margin-top: 16px;
  }

  .supportsec-content-list-item-list li {
    font-size: 0.875rem;
  }

  .supportsec-content-list-item a {
    font-size: 0.625rem;
    margin-top: 16px;
    max-width: 164px;
  }

  .supportsec-content-list-item-list li {
    letter-spacing: 0.1px;
  }

  .supportsec-content-list > div:nth-child(1) > div:nth-child(1) {
    padding-bottom: 5px;
  }

  .supportsec-content-list-item-addinfo {
    display: none !important;
  }

  .supportsec-content-list-item:nth-child(3) > ul:nth-child(3) {
    white-space: nowrap;
    overflow: scroll;
    text-overflow: ellipsis;
  }

  .supportsec-content-list-item-title {
    order: 2;
  }

  .supportsec-content-list-item {
    margin: 0px;
    margin-right: 7px !important; 
    width: 232px !important;
  }

  .supportsec-content-list {
    margin-left: 0px !important;
      width: calc(100vw - 15px) !important;
  width: -webkit-calc(100vw - 15px) !important;
  width: -moz-calc(100vw - 15px) !important;
  }


/*-------------------------------СЕКЦИЯ НУЖНА КОНСУЛЬТАЦИЯ-------------------------------*/

 .consultsec{
    
  }


  .consultsec-phone {
    max-width: 80vw;
    right: 40px;
    border-bottom: 1px solid #064FDA;
  }

  .consultsec-background {
    max-width: 145vw;
    top: auto;
    bottom: -59px;
  }

  .consultsec-blur {
    max-width: 80vw;
  }

  .consultsec-leftimage {
    width: 35vw;
    top: 80vh;
  }

  .consultsec-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
    border-bottom: 0px;
  }

  .consultsec-content h2 {
    font-size: 1rem;
    padding-top: 51px;
  }

  .consultsec-content > ul > li {
    font-size: 1rem;
    margin-top: 0px;
  }

  .consultsec-content-order {
    width: 117px;
    height: 117px;
    z-index: 31;
    position: relative;
    margin-top: 50px;
  }

  .consultsec-content-order p {
    font-size: 0.625rem;
    line-height: 13px;
    margin-bottom: 5px;
  }

  .consultsec-content-order > img:nth-child(2) {
    width: 50%;
  }

  .consultsec-content {
    align-items: end;
    display: flex;
    flex-direction: column;
  }

  .consultsec-content h2 {
    display: flex;
    width: 100%;
    z-index: 10;
    position: relative;
  }

  .consultsec-content > ul:nth-child(2) {
    display: flex;
    width: 100%;
  }

  .consultsec-content > ul:nth-child(2) {
    width: 94%;
    z-index: 10;
    position: relative;
  }

  .consultsec-blur {
    left: 12%;
    top: 46%;
    height: 295px;
    z-index: 30;
  }


/*-------------------------------СЕКЦИЯ 100+ ПРОЕКТОВ-------------------------------*/

  .projectssec{
    padding-left: 15px;
    margin-top: 50px;
  }

  .projectssec-content-list-mobile{
    display: block !important;
    /*width: 109.5vw !important;*/
    margin-left: -49px;
  }

  .projectssec-content-list-item-order{
    display: none !important;
  }

  .projectssec-content-header > img:nth-child(1) {
    width: 194px;
  }

  .projectssec-content-header {
    flex-direction: column;
    margin-bottom: 16px;
    align-items: baseline;
    padding-right: 15px;
  }

  .projectssec-content-header h2 {
    font-size: 1.438rem;
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .projectssec-content-header p {
    font-size: 0.75rem;
    line-height: 17px;
  }

  .projectssec-content-list-item h3 {
    font-size: 1.625rem;
    font-size: 0.813rem;
  }

  .projectssec-content-list-item p {
    font-size: 0.875rem;
    white-space: normal;
  }

  .projectssec-content-list-item-image-container {
    border-radius: 39px;
  }

  .projectssec-content-list-mobile > .slick-list > .slick-track > .slick-slide img {
    width: 100%;
    height: 318px;
    object-fit: cover;
    border-radius: 39px;
  }

  .projectssec-content-header > p:nth-child(3) {
    width: 100%;
  }

  .projectssec-content-header > p:nth-child(3) > br {
    display: none;
  }

  .projectssec-content-list{
    display: none;
  }

  .projectssec-content-list-mobile > .slick-list > .slick-track > .projectssec-content-list-item{
    padding-right: 16px;
  }

  .projectssec-content-list-mobile {
    overflow-x: hidden !important;
    padding-left: 15px;
    margin-left: -45px !important;
  }

 .projectssec {
    padding-left: 0px !important;
  }

  .projectssec-content-header {
    padding-left: 15px;
  }

  .projectssec-content-list-mobile > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    margin-left: -5px;
  }

/*-------------------------------СЕКЦИЯ БЕГУЩАЯ СТРОКА-------------------------------*/


  .runninglinesec{
   
  }

  .runninglinesec-content-list {
    margin-top: 47px;
  }

  .runninglinesec-content-list-uppart-item a {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.438rem;
    padding-left: 30px;
    padding-right: 30px;
  }

  .runninglinesec-content-list-downpart-item a {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.438rem;
    padding-left: 30px;
    padding-right: 30px;
  }

  .runninglinesec-content-list-downpart {
    margin-top: 10px;
  }

  .runninglinesec-content-list-downpart-item {
    margin-bottom: 50px;
  }


/*-------------------------------СЕКЦИЯ НАША КОМАНДА-------------------------------*/

  .teamsec{
    
  }

  .teamsec-content-header h2 {
    font-size: 1.438rem;
  }

  .teamsec-content-header p {
    display: none;
  }

  .teamsec-content-header {
    margin-bottom: 20px;
  }

  .teamsec-content-slider {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .teamsec-content-slider-item {
    height: 292px !important;
    margin: 0;
    padding-left: 13px;
    padding-right: 13px;
    max-width: 100vw;
    width: auto !important;
    padding-bottom: 32px;
  }

  .teamsec-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .teamsec-content-slider-item:hover {
    height: 292px !important;
    width: auto !important;
  }

  .teamsec-content-slider-item:nth-child(2) {
    
  }

  .teamsec-content-slider-item h3 {
    font-size: 0.813rem;
    line-height: 17px;
  }

  .teamsec-content-slider-item p {
    font-size: 0.875rem;
    margin-top: 0px;
  }

  .teamsec-content-slider-item ul {
    margin-top: 22px;
  }

  .teamsec-content-slider-item ul > li {
    font-size: 0.875rem;
    line-height: 17px;
  }

  .teamsec-content-slider-item > ul:nth-child(3) {
    padding-left: 15px;
  }

  .teamsec-content-slider-item > .item-filter {
  display: block !important;
  object-fit: cover;
  width: 642px;
  max-width: unset;
  max-height: unset;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  opacity: 0;
  animation: ttt 1s forwards;
}

.teamsec-content-slider-item ul {
  display: block;
}

.item-filter {
  opacity: 0.7 !important;
}


/*-------------------------------СЕКЦИЯ ОТВЕТЫ НА ВОПРОСЫ-------------------------------*/

  .questionssec{
    
  }

  .questionssec-content-leftpart h2 {
    font-size: 1.438rem;
  }

  .questionssec-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .questionssec-content-order {
    width: 117px !important;
    height: 117px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  .questionssec-content-order p {
    font-size: 0.625rem;
    line-height: 13px;
    margin-bottom: 10px;
  }

  .questionssec-content-order-fix img {
    height: 25px;
    width: 25px;
  }

  .questionssec-content-order:nth-child(1) > img:nth-child(3) {
    width: 25px;
  }

  .questionssec-content-order:nth-child(1) > img:nth-child(2) {
    width: 25px;
  }

  .questionssec-content-order:nth-child(2) > p:nth-child(1) {
    font-size: 0.563rem;
  }

  .teamsec-content-slider {
    margin-bottom: 50px;
  }

  .questionssec-content {
    flex-direction: column;
  }

  .questionssec-content-leftpart h3 {
    font-size: 2.25rem;
    line-height: 55px;
  }

  .questionssec-content-leftpart h2 {
    margin-bottom: 0px;
  }

  .questionssec-content-leftpart h2 {
    white-space: nowrap;
    letter-spacing: 0px;
  }

  .questions-list-item p {
    font-size: 0.75rem;
    line-height: 22px;
  }

  .questions-list-item {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .questionssec-content-leftpart-btns{
    display: none !important;
  }

  .questionssec-content-leftpart-btns-mobile{
    display: flex !important;
  }

  .questionssec-content-leftpart-btns:nth-child(2) {
    margin-top: 50px;
  }

  .questionssec-blur {
    opacity: 0.8;
  }

  .questions-list-item: focus img {
  display: flex !important;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: #0A5FF9;
  width: 41px;
  height: 41px;
  animation: ani 1s forwards;
}

/*-------------------------------СЕКЦИЯ ПРЕИМУЩЕСТВА-------------------------------*/

  .advantagessec {
    padding-top: 0px;
  }

  .advantagessec-content-leftpart h2 {
    font-size: 4rem;
    line-height: 64px;
  }

  .advantagessec-content {
    flex-direction: column;
  }

  .advantagessec-content-leftpart h3 {
    font-size: 1.438rem;
    padding-left: 55px;
  }

  .advantagessec-content-leftpart{
    padding-left: 15px;
    padding-right: 15px;
  }

  .advantagessec_right_image {
    top: 236vh;
    right: 0px;
    width: 50vw;
    height: 137vh;
    opacity: 0.9;
  }

  .advantagessec-content-leftpart-list {
    margin-top: 20px;
    row-gap: 30px;
    width: 100%;
    align-items: center;
  }

  .advantagessec-content-rightpart-list {
    padding-left: 12px;

  }

  .advantagessec-content-leftpart-list-item-right h4 {
    font-size: 0.688rem;
    line-height: 18px;
    white-space: nowrap;
  }

  .advantagessec-content-leftpart-list-item-right p {
    font-size: 0.875rem;
  }

  .advantagessec-content-rightpart h3 {
    font-size: 1.438rem;
  }

  .advantagessec-content-rightpart {
    margin-top: 50px;
    padding-top: 50px;
    padding-left: 16px;
    width: unset;
    padding-bottom: 60px;
  }

  .advantagessec-content-rightpart-list-item {
    font-size: 0.875rem;
    width: 85vw;
  }

  .advantagessec-content-rightpart ul {
    max-width: 320px;
  }

  .advantagessec-content-leftpart-list-item {
    width: 316px;
  }

/*-------------------------------СЕКЦИЯ CMS-------------------------------*/

  .cmssec{
    margin-top: 65px;
  }

  .cmssec-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .cmssec h2 {
    font-size: 1.438rem;
    max-width: 320px;
    line-height: 30px;
  }

  .cmssec-content-list {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    column-gap: 20px;
    margin-top: 20px;
    grid-row-gap: 30px;
  }

  .cmssec-content-list-item img{
    max-width: 155px;

  }


/*-------------------------------СЕКЦИЯ СЕРТИФИКАЦИИ-------------------------------*/

  .sertificatessec{
    
  }

  .sertificatessec h2 {
    font-size: 1.438rem;
    padding-left: 15px;
    padding-right: 15px;
  }

  .sertificatessec {
    margin-top: 48px;
  }

  .sertificates-content {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
  }

  .sertificates-content-leftpart p {
    max-width: 100%;
    font-size: 0.875rem;
  }

  .sertificates-content-rightpart-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .sertificates-content-rightpart-list-item img{
    max-width: 175px;
  }

  .sertificates-content-rightpart-list {
    margin-right: 0;
    column-gap: 0;
  }

  .sertificates-content-rightpart-list-item img {
    max-width: 147px;
  }

  .sertificates-content-rightpart-list {
    grid-row-gap: 10px;
    justify-items: center;
  }

  .sertificates-content-rightpart-list {
    margin-top: 20px;
  }

  .sertificates-content-rightpart-list-item:nth-child(1) > img:nth-child(1) {
    margin-top: -4px;
  }


/*-------------------------------СЕКЦИЯ ОТЗЫВЫ-------------------------------*/

  .reviewssec{
    padding-top: 43px;
    padding-left: 15px;
    overflow-x: hidden !important;
  }

  .reviewssec_header h2 {
    font-size: 1.438rem;
    line-height: 26px;
  }

  .reviewssec_header {
    display: flex;
    flex-direction: column;
  }

  .reviewssec_header p {
    font-size: 0.75rem;
    line-height: 30px;
    letter-spacing: 0.8px;
  }

  .reviewssec-content {
    margin-top: 5px;
  }

  .reviewssec-content{
    display: block !important;
    width: 109.5vw !important;
    margin-left: -49px;
  }

  .reviewssec-content-item {
    height: 261px !important;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    margin: 0px;
    margin-right: 14px;
    padding-bottom: 24px;
  }

  .reviewssec-content-item:nth-child(2) {
    margin-top: 0;
  }

  .reviewssec-content-item:nth-child(3) {
    max-height: unset;
  }

  .reviewssec-content-item:nth-child(4) {
    margin-top: 0;
  }

  .reviewssec-content-item:nth-child(6) {
    margin-top: 0;
  }

  .reviewssec-content > div:nth-child(1) > div:nth-child(1) {
    padding-bottom: 3px;
  }

  .reviewssec-content-item h3 {
    font-size: 1rem;
  }

  .reviewssec-content-item h4 {
    font-size: 0.875rem;
    line-height: 14px;
  }

  .reviewssec-content-item p {
    font-size: 0.75rem;
    line-height: 19px;
  } 

  .reviewssec-content-item a {
    font-size: 0.875rem;
    display: flex;
  }

  .reviewssec-content-item {
    max-height: unset !important;
  }

  .reviewssec-content-item p {
    overflow-y: scroll !important;
    max-height: unset !important;
  }

  .reviewssec-content-item:nth-child(1) > p:nth-child(2) {
    margin-top: 12px;
  }

  .reviewssec-content-item:nth-child(1) > a:nth-child(3) {
    margin-top: 25px;
  }

  .reviewssec-content-item {
    height: 208px !important;
    display: flex !important;
    flex-direction: column;
  }

  .reviews_background {
    display: none !important;
  }

  .reviewssec-slider{
    margin-left: 0;
    padding-top: 27px;
    padding-bottom: 45px;
    /*display: none !important;*/
  }

  .reviewssec-slider > div:nth-child(1) {
    margin-left: -50px;
  }

  .reviewssec-slider-item h3 {
    font-size: 1rem;
    margin-bottom: 16px;
  }

  .reviewssec-slider-item {
    padding-top: 29px;
    padding-left: 20px;
    max-height: 249px;
  }

  .reviewssec-slider-item-shadow {
    max-height: 306px;
  }

  .reviewssec-slider-item-header img{
    width: 86px;
  }

  .reviewssec-slider > div:nth-child(1) > div:nth-child(1) {
    padding-bottom: 4px;
    padding-top: 4px;
  }

  .reviewssec-slider-item:nth-child(1) > a:nth-child(4) > img:nth-child(1) {
    width: 75px;
  }


/*-------------------------------СЕКЦИЯ КВИЗ-------------------------------*/

  .kvizsec{
    
  }

  .kvizsec h2 {
    font-size: 1.438rem;
    line-height: 31px;
    padding-left: 15px;
    max-width: 93vw;
    margin-bottom: 10px;
  }

  .reviewssec-slider {
    padding-bottom: 45px;
  }

  .kvizsec p {
    padding-left: 15px;
    max-width: 93vw;
    font-size: 0.875rem;
    letter-spacing: 0.3px;
  }

  .kvizsec-content-main {
    padding-left: 0px;
    flex-direction: column;
  }

  .kvizsec-content-main h3 {
    font-size: 1rem;
    line-height: 21px;
    padding-top: 30px;
    margin-bottom: 45px;
  }

  .kvizsec-content-main-container > h3:nth-child(1) {
    padding-left: 15px;
    padding-right: 15px;
  }

  .kvizsec-content-main-slider-item-progressbar img:nth-child(1) {
    width: 82px;
    height: 41px;
    object-fit: cover;
    border-radius: 29px;
  }

  .kvizsec-content-main-slider-item-progressbar p {
    padding-top: 9px;
    padding-bottom: 9px;
    line-height: 23px;
    max-height: 41px;
  }

  input[type="radio"] {
    width: 19px !important;
    height: 19px;
    padding-right: 17px;
  }

  input[type="radio"]:checked::before {
    width: 11px;
    height: 11px;
    top: 49%;
    left: 49%;
  }

  .kvizsec-content-main {
    width: 100vw;
  }

  .kvizsec-content-main-slider-item-form {
    grid-row-gap: 20px;
  } 

  .kvizsec-content-main-slider-item-form label {
    font-size: 0.875rem;
  }

  .kvizsec-content-main-slider-item > form:nth-child(2) > div:nth-child(1) {
    max-width: 200px;
  }

  .kvizsec-content-main-slider-item-form {
    max-width: 92vw;
    padding-bottom: 45px;
  }

  .kvizsec-content-main-container {
    max-width: 100vw;
  }

  .kvizsec-content-main-slider-item > form:nth-child(2) > div {
    display: flex;
    align-items: baseline;
  }

  .kvizsec-content-main-slider-item-form label {
    line-height: 16px;
    letter-spacing: 0.5px;
  }

  input[type="radio"] {
    margin-right: 5px;
  }

  .kvizsec-content-main-slider-buttons-leftbtn {
    width: 117px;
    height: 117px;
  }

  .kvizsec-content-main-slider-buttons-leftbtn p {
    margin-bottom: 0px !important;
  }

  .kvizsec-content-main-slider-buttons-leftbtn > p:nth-child(1) {
    padding-left: 0px;
  }

  .kvizsec-content-main-slider-buttons-leftbtn p{
    font-size: 0.625rem;
  }

  .kvizsec-content-main-slider-buttons-leftbtn > img {
    width: 25px;
  }

  .kvizsec-content-main-slider-buttons-rightbtn {
    width: 117px;
    height: 117px;
  }

  .kvizsec-content-main-slider-buttons-rightbtn p {
    margin-bottom: 0px !important;
  }

  .kvizsec-content-main-slider-buttons-rightbtn > p:nth-child(1) {
    padding-left: 0px;
  }

  .kvizsec-content-main-slider-buttons-rightbtn p{
    font-size: 0.625rem;
  }

  .kvizsec-content-main-slider-buttons-rightbtn > img {
    width: 25px;
  }

  .kvizsec-content-main-slider-buttons {
    column-gap: 12px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .kvizsec-content-main-slider {
    width: 100vw !important;
    padding-right: 15px;
    padding-left: 15px;
  }

  .kvizsec-content-main-slider-item-progressbar p {
    width: 100%;
  }

  .kvizsec-content-main-promo {
     width: calc(100vw - 30px) !important;
  width: -webkit-calc(100vw - 30px) !important;
  width: -moz-calc(100vw - 30px) !important;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .kvizsec-content-main-promo h3 {
    letter-spacing: 0.2px;
  }

  .kvizsec-content-main-promo > p:nth-child(2) {
    padding-left: 0px;
  } 

  .kvizsec-content-main-slider-item > div:nth-child(1) > p:nth-child(2) {
    padding-left: 0px;
  }

  .kvizsec-content-main-promo {
    background-size: 100%;
    background-position: right bottom;
  }

  .kvizsec-content-main-promo > h3:nth-child(1) {
    padding-top: 0px;
    margin-bottom: 10px;
  }

  .kvizsec-content-main-promo > p:nth-child(2) {
    margin-bottom: 0px;
  }

  .kvizsec-content-main-promo-twenty img {
    bottom: auto;
    top: 65px;
    width: 38px;
    left: 15%;
  }

  .kvizsec-content-main-promo-twenty h4 {
    font-size: 6rem;
    margin-top: 0px;
  }

  .kvizsec-content-main-promo-twenty b {
    font-size: 6rem !important;
  }

  .kvizsec-content-main-promo-twenty {
    padding-bottom: 150px;
    width: 85%;
    margin: 0 auto;
  }

  .kvizsec-content-main-promo > p:nth-child(2) {
    padding-bottom: 30px;
  }



   .kvizsec-content-main-slider > .slick-list{
    width: 100% !important;
  }


/*-------------------------------СЕКЦИЯ КВИЗ-------------------------------*/

  .writetoussec{
    
  }

  .writetoussec {
    margin-top: 35px;
  }

  .writetoussec h2 {
    font-size: 1.438rem;
    padding-left: 15px;
    padding-right: 15px;
  }

  .writetoussec-content-form {
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    align-items: baseline;
  }

  .writetoussec-content-form-inputs {
    display: flex;
    flex-direction: column;
  }

  .writetoussec-content-form-inputs input {
    font-size: 0.625rem;
  }

  .writetoussec h2 {
    line-height: 37px;
  }

  .writetoussec-content-form {
    margin-top: 10px;
  }

  .writetous-order {
    width: 117px;
    height: 117px;
    padding: 0px;
  }

  .writetous-order p {
    line-height: 20px;
    margin-bottom: 5px;
    font-size: 0.625rem;
    padding: 0;
  }

  .writetous-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .writetous-order {
    width: 117px !important;
    height: 117px !important;
    padding: 0px;
  }

  .writetous-order img {
    width: 25px;
  }

  .writetous-btns {
    margin-top: 17px;
  }

  .writetous-btns-title {
    grid-column: 1 / -1;
  }

  .writetous-btns {
    column-gap: 10px;
    width: 100%;
    display: ;
    grid-row-gap: 25px;
    max-width: 300px;
  }

  .writetous-order > p:nth-child(1) {
    margin-left: 0px;
  }

  .writetous-order-fix {
    margin-left: -35px;
  }

  .writetous-btns-title {
    font-size: 0.875rem;
    line-height: 22px;
    max-width: 300px;
    margin-left: 0;
  }

  .writetoussec-content-form-inputs input::placeholder{
    max-width: 263px;
    white-space: pre-wrap;
  }

  .writetoussec-content-form-inputs > input:nth-child(1) {
    padding-bottom: 30px;
  }

  .writetoussec-content-form-inputs {
    grid-row-gap: 22px;
  }

  .writetoussec-content-form-inputs input {
    padding-bottom: 16px;
  }

  .writetoussec-blur {
    opacity: 1;
    top: 10%;
    left: auto;
    height: 110vh;
  }


/*-------------------------------СЕКЦИЯ ПОДВАЛ-------------------------------*/

  footer{
    margin-top: 0px;
  }

  .footer_content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .footer_content-uppart a {
    font-size: 1rem;
    line-height: 37px;
  }

  .footer_content-uppart {
    flex-direction: column;
  }

  .footer_content-uppart-maplink p {
    font-size: 0.75rem;
    margin-bottom: 0px;
  }

  .footer_content-uppart-maplink a {
    font-size: 1rem;
    border-bottom: 1px solid #fff;
  }

  .footer_content-downpart {
    margin-bottom: 30px;
    align-items: baseline;
    flex-direction: column;
  }

  .footer_content-downpart-logo-navmenu-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }

  .footer_content-downpart-logo-navmenu-list-item a {
    font-size: 0.875rem;
    padding-left: 0;
    padding-right: 0;
    border-right: 0;
  }

  .footer_content-downpart-navmenu {
    order: 1;
  }

  .footer_content-downpart-logo {
    order: 2;
  }

  .footer_content-downpart-messengers {
    order: 3;
  }

  .footer_content {
    row-gap: 37px;
  }

  .footer_content-downpart-logo > a:nth-child(1) > img:nth-child(1) {
    width: 94px;
  }

  .footer_content-downpart-navmenu > nav:nth-child(1) {
    margin-bottom: 20px;
  }

  .footer_content-downpart-messengers > a:nth-child(1) > img:nth-child(1) {
    width: 50px;
    height: 50px;
    padding-top: 0px;
    margin-top: 0px;
  }

  .footer_content-downpart-messengers > a:nth-child(2) > img:nth-child(1) {
    width: 50px;
    height: 50px;
  }

  .footer_content-downpart-messengers {
    position: absolute;
    right: 15px;
    bottom: 27px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}


















@media screen and (max-width: 768px) and (min-width: 577px){


/*-------------------------------ВРАП-МЕНЮ-------------------------------*/  

  .header_content-wrap-navmenu {
    flex-direction: row;
    column-gap: 30px;
    padding-top: 65px;
  }

  .header_content-wrap-navmenu-righpart-list-item a {
    font-size: 2rem;
  }


/*-------------------------------ШАПКА-------------------------------*/  





/*-------------------------------ПЕРВАЯ СЕКЦИЯ-------------------------------*/  


  .firstssec-content h1 {
    font-size: 2.25rem;
    line-height: 52px;
  }

  .firstssec-content-title ul > li {
    font-size: 1rem;
  }

  .firstssec-content-order p {
    margin-bottom: 0;
  }

  .firstssec-content-order {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 18px;
    row-gap: 10px;
  }


/*-------------------------------СЕКЦИЯ НАПРАВЛЕНИЕ РАБОТЫ-------------------------------*/  


.directionsec-content-leftpart > img:nth-child(1) {
  width: 38vw;
}

/*-------------------------------СЕКЦИЯ НУЖНА КОНСУЛЬТАЦИЯ-------------------------------*/

  .consultsec {
    margin-top: 190px;
  }

  .consultsec-content h2 {
    line-height: 37px;
    padding-top: 0;
  }

  .consultsec-content {
    align-items: flex-start;
    padding-bottom: 80px;
    padding-left: 55px;
  }




/*-------------------------------СЕКЦИЯ 100+ ПРОЕКТОВ-------------------------------*/

  .projectssec-content-header {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .projectssec-content-header h2 {
    justify-content: center;
  }


/*-------------------------------СЕКЦИЯ НАША КОМАНДА-------------------------------*/

  .teamsec-content-slider-item {
    max-width: 303px !important;
    width: 100% !important;
  }

  .teamsec-content-slider-item > .item-filter {
    width: auto;
  }

  .teamsec-content-slider{
    align-items: center;
  }

  .teamsec-content-slider-item:hover .item-filter {
    width: auto;
  }

   .teamsec-content-slider-item:hover {
    width: 100% !important;
    height: 292px !important;
  }


/*-------------------------------СЕКЦИЯ КВИЗ-------------------------------*/

  .kvizsec-content-main-slider {
    display: flex !important;
    justify-content: center;
  }

  input[type="radio"]:checked::before {
    top: 48%;
    left: 48%;
  }

  .kvizsec-content-main-slider-item-form label {
    font-size: 1rem;
    letter-spacing: 0.8px;
  }


/*-------------------------------СЕКЦИЯ НАПИШИТЕ НАМ-------------------------------*/

  .writetous-order:hover {
    background: #FFFFFF;
    animation: ttt 0.5s forwards;
  }

  .writetous-order:hover p{
    color: #2A2A2A;
  }

  .writetous-order img:nth-child(3){
    display: none;
  }

  .writetous-order:hover img:nth-child(3){
    display: block;
  }

  .writetous-order:hover img:nth-child(2){
    display: none;
  }




/*-------------------------------СЕКЦИЯ ФУТЕР-------------------------------*/


  .footer_content-uppart {
    flex-direction: row;
    align-items: baseline;
  }

  .footer_content-uppart a {
    font-size: 0.875rem;
  }

  .writetous-btns-title {
    max-width: 100%;
  }

  .footer_content-downpart-logo-navmenu-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .footer_content-downpart-navmenu {
    margin: 0 auto;
  }

}







@media screen and (max-width: 1199px) and (min-width: 992px){

/*-------------------------------ВРАП-МЕНЮ-------------------------------*/  

  .header_content-wrap-navmenu {
    flex-direction: row;
    column-gap: 30px;
    padding-top: 65px;
  }

  .header_content-wrap-navmenu-righpart-list-item a {
    font-size: 2rem;
  }

/*-------------------------------ШАПКА-------------------------------*/  
  .header_content_leftpart-logo > a:nth-child(1) > img:nth-child(1) {
    width: auto;
  }

/*-------------------------------ПЕРВАЯ СЕКЦИЯ-------------------------------*/  


  .firstssec-content h1 {
    font-size: 2.25rem;
    line-height: 52px;
  }

  .firstssec-content-title ul > li {
    font-size: 1rem;
  }

  .firstssec-content-order p {
    margin-bottom: 0;
  }

  .firstssec-content-order {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 18px;
    row-gap: 10px;
  }

/*-------------------------------СЕКЦИЯ НАПРАВЛЕНИЕ РАБОТЫ-------------------------------*/
  .directionsec-content-leftpart > img:nth-child(1) {
    width: 35vw;
  }

/*-------------------------------СЕКЦИЯ 100+ ПРОЕКТОВ-------------------------------*/

  .projectssec-content-header {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .projectssec-content-header h2 {
    justify-content: center;
  }




/*-------------------------------СЕКЦИЯ ПРЕИМУЩЕСТВА-------------------------------*/


  .advantagessec-content-leftpart-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }



/*-------------------------------СЕКЦИЯ CMS-------------------------------*/


  .cmssec-content-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

/*-------------------------------СЕКЦИЯ СЕРТИФИКАТЫ-------------------------------*/


  .sertificates-content-rightpart-list {
    display: flex;
  }

/*-------------------------------СЕКЦИЯ КВИЗ-------------------------------*/

  .kvizsec-content-main-slider {
    display: flex !important;
    justify-content: center;
  }

  input[type="radio"]:checked::before {
    top: 48%;
    left: 48%;
  }

  .kvizsec-content-main-slider-item-form label {
    font-size: 1rem;
    letter-spacing: 0.8px;
  }

  .kvizsec-content-main-container {
    align-items: center;
  }

/*-------------------------------СЕКЦИЯ НУЖНА КОНСУЛЬТАЦИЯ-------------------------------*/

  .consultsec {
    margin-top: 120px;
  }

  .consultsec-content h2 {
    line-height: 37px;
    padding-top: 0;
  }

  .consultsec-content {
    align-items: flex-start;
    padding-bottom: 80px;
    padding-left: 55px;
  }

  .consultsec-phone {
    max-width: 51vw;
  }

  .consultsec-background {
    max-width: 100vw;
  }

/*-------------------------------СЕКЦИЯ НАША КОМАНДА-------------------------------*/

  .teamsec-content-slider-item {
    max-width: 303px !important;
    width: 100% !important;
  }

  .teamsec-content-slider-item > .item-filter {
    width: auto !important;
  }

  .teamsec-content-slider{
    align-items: center !important;
  }

  .teamsec-content-slider-item:hover .item-filter {
    width: auto !important;
  }

   .teamsec-content-slider-item:hover {
    width: 100% !important;
    height: 292px !important;
  }

  .teamsec-content-slider {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    justify-items: center !important;
  }

/*-------------------------------СЕКЦИЯ ПРЕИМУЩЕСТВА-------------------------------*/

  .advantagessec-content-rightpart-list-item {
    font-size: 1rem;
  }


/*-------------------------------СЕКЦИЯ ВОПРОСЫ-------------------------------*/

  .questions-list {
    max-width: unset;
  }


/*-------------------------------СЕКЦИЯ НАПИШИТЕ НАМ-------------------------------*/

  .writetoussec-content-form-inputs {
    max-width: unset;
  }

  .writetous-order:hover {
    background: #FFFFFF;
    animation: ttt 0.5s forwards;
  }

  .writetous-order:hover p{
    color: #2A2A2A;
  }

  .writetous-order img:nth-child(3){
    display: none;
  }

  .writetous-order:hover img:nth-child(3){
    display: block;
  }

  .writetous-order:hover img:nth-child(2){
    display: none;
  }

  .writetous-order{
    border: 1px solid #ffffff;
  }

  /*-------------------------------СЕКЦИЯ ФУТЕР-------------------------------*/


  .footer_content-uppart {
    flex-direction: row;
    align-items: baseline;
  }

  .footer_content-uppart a {
    font-size: 0.875rem;
  }

  .writetous-btns-title {
    max-width: 100%;
  }

  .footer_content-downpart-logo-navmenu-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .footer_content-downpart-navmenu {
    margin: 0 auto;
  }

}




@media screen and (max-width: 991px) and (min-width: 769px){
  
/*-------------------------------ВРАП-МЕНЮ-------------------------------*/  

  .header_content-wrap-navmenu {
    flex-direction: row;
    column-gap: 30px;
    padding-top: 65px;
  }

  .header_content-wrap-navmenu-righpart-list-item a {
    font-size: 2rem;
  }

/*-------------------------------ПЕРВАЯ СЕКЦИЯ-------------------------------*/  


  .firstssec-content h1 {
    font-size: 2.25rem;
    line-height: 52px;
  }

  .firstssec-content-title ul > li {
    font-size: 1rem;
  }

  .firstssec-content-order p {
    margin-bottom: 0;
  }

  .firstssec-content-order {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 18px;
    row-gap: 10px;
  }


  /*-------------------------------СЕКЦИЯ НАША КОМАНДА-------------------------------*/

  .teamsec-content-slider-item {
    max-width: 303px !important;
    width: 100% !important;
  }

  .teamsec-content-slider-item > .item-filter {
    width: auto !important;
  }

  .teamsec-content-slider{
    align-items: center !important;
  }

  .teamsec-content-slider-item:hover .item-filter {
    width: auto !important;
  }

   .teamsec-content-slider-item:hover {
    width: 100% !important;
    height: 292px !important;
  }

  .teamsec-content-slider {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    justify-items: center !important;
  }


/*-------------------------------СЕКЦИЯ ПРЕИМУЩЕСТВА-------------------------------*/


  .advantagessec-content-leftpart-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }


/*-------------------------------СЕКЦИЯ КВИЗ-------------------------------*/

  .kvizsec-content-main-slider {
    display: flex !important;
    justify-content: center;
  }

  input[type="radio"]:checked::before {
    top: 48%;
    left: 48%;
  }

  .kvizsec-content-main-slider-item-form label {
    font-size: 1rem;
    letter-spacing: 0.8px;
  }

  .kvizsec-content-main-container {
    align-items: center;
  }


/*-------------------------------СЕКЦИЯ НАПРАВЛЕНИЕ РАБОТЫ-------------------------------*/
  .directionsec-content-leftpart > img:nth-child(1) {
    width: 35vw;
  }



}