/*----глобальные стили----*/
    html, body {
      margin: 0;
      padding: 0;
    }

    html{
      scroll-behavior: smooth;
      font-size: 16px;
    }

    body{
      font-family: 'Open Sans', sans-serif;
      background: #FFFFFF;
      min-height: 100%;
      display: grid;
      grid-template-rows: auto 1fr auto;
      position: relative;
    }

    ul,li {
      margin: 0px;
      padding: 0px;
      
    }

    h1,h2,h3,h4,p{
      margin: 0px;
      font-weight: normal;
    }

    .wrapper{
      font-family: 'Open Sans', sans-serif;
      background: #FFFFFF;
      min-height: 100%;
      display: grid;
      grid-template-rows: auto 1fr auto;
      position: relative;
    }

    .upper{
      text-transform: uppercase;
    }

/*----шрифты----*/

@font-face {
  font-family: "Montserrat-700";
  src: 
   url("Montserrat-Bold.woff2") format("woff2"),
    url("Montserrat-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: "Prompt-400";
  src: 
   url("Prompt-Regular.woff2") format("woff2"),
    url("Prompt-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "ProstoOne-400";
  src: 
   url("ProstoOne-Regular.woff2") format("woff2"),
    url("ProstoOne-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "Circe-800";
  src: 
   url("Circe-ExtraBold.woff2") format("woff2"),
    url("Circe-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
  font-family: "Circe-700";
  src: 
   url("Circe-Bold.woff2") format("woff2"),
    url("Circe-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: "Circe-400";
  src: 
   url("Circe-Regular.woff2") format("woff2"),
    url("Circe-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "Circe-300";
  src: 
    url("Circe-Light.woff2") format("woff2"),
    url("Circe-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}



/*----------------------СТИЛИ---------------------------*/

.main__container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.full_container{
  max-width: 1920px;
  width: 100%;
}

/*----------------------ШАПКА---------------------------*/

.background{
  background: url(../img/firstsec_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  background: #ffffff;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 21px;
  padding-right: 21px;
  border-radius: 17px;
}

.header_content_navmenu-list{
  display: flex;
  list-style-type: none;
  column-gap: 30px;
}

.header_content_navmenu-list-item:hover a{
  color: #349AC0;
}

.header_content_navmenu-list-item a{
  text-decoration: none;
  font-family: "Circe-400", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #262626;
  letter-spacing: 0.8px;
  line-height: 20px;
}

.header_content_contacts{
  display: flex;
  flex-direction: column;
}

.header_content_contacts p{
  display: flex;
  flex-direction: column;
  font-family: "ProstoOne-400", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  color: #349AC0;
  letter-spacing: 0.8px;
}

.header_content_contacts a{
  display: flex;
  flex-direction: column;
  font-family: "Circe-300", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #232323;
  letter-spacing: 0.8px;
  line-height: 20px;
  text-decoration: underline;
}

.header_content_messengers{
  display: flex;
  column-gap: 4px;
}

/*----------------------ПЕРВАЯ СЕКЦИЯ---------------------------*/

.main__container-firstsec{
  position: relative;
}

.firstsec_content{
  margin-top: 105px;
  padding-bottom: 215px;
  position: relative;
  padding-bottom: 270px;
  padding-left: 22px;
}

.firstsec-background-image{
  position: absolute;
  right: 23px;
  bottom: -40px;
}

.firstsec_content h1{
  max-width: 850px;
  font-family: "ProstoOne-400", sans-serif;
  font-size: 3rem;
  text-decoration: none;
  color: #141414;
}

.firstsec_content h1 > b{
  color: #008DC1;
}

.firstsec_content h2{
  margin-top: 20px;
  font-family: "Circe-400", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: #222222;
  letter-spacing: 0.8px;
  line-height: 54px;
}

.firstsec_content a{
  margin-top: 30px;
  font-family: "Circe-700", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #1F1F1F;
  letter-spacing: 0.8px;
  line-height: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  max-width: 195px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #ffffff;
  border-radius: 26px;
}


/*----------------------СЕКЦИЯ ПРЕИМУЩЕСТВА---------------------------*/

.advantagessec{
  margin-top: 70px;
}

.advantages_content{
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
  background: #3FADD5;
  border-radius: 98px;
  padding-top: 73px;
  padding-bottom: 73px;
  justify-content: center;
}

.advantages_content-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 42px;
  grid-row-gap: 29px;
  max-width: 1000px;
  width: 100%;
}

.advantages_content-list-item{
  display: flex;
  column-gap: 28px;
  align-items: center;
  padding-left: 53px;
  padding-right: 53px;
  max-width: 374px;
  width: 100%;
  border-radius: 34px;
  background: #ffffff;
  height: 161px;
}

.advantages_content-list-item-rightpart{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.advantages_content-list-item-rightpart h3{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  font-family: "Circe-800", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  color: #1C1C1C;
  letter-spacing: 0.8px;
}

.advantages_content-list-item-rightpart p{
  font-family: "Circe-400", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #2C2C2C;
  line-height: 20px;
}



/*----------------------СЕКЦИЯ О КОМПАНИИ---------------------------*/

.aboutcompanysec{
  background: url(../img/aboutcompanysec_background.png) no-repeat;
  background-size: cover;
  margin-top: 50px;
}

.aboutcompanysec_content{
  display: flex;
  justify-content: space-between;
  padding-top: 118px;
  padding-left: 21px;
  padding-right: 21px;
}

.aboutcompanysec_content-leftpart{
  display: flex;
  flex-direction: column;
  max-width: 670px;
}

.aboutcompanysec_content-leftpart h2{
  font-family: "ProstoOne-400", sans-serif;
  font-size: 3rem;
  text-decoration: none;
  color: #141414;
  letter-spacing: 0.8px;
  line-height: 101px;
  margin-bottom: 9px;
}

.aboutcompanysec_content-leftpart > p {
  font-family: "Circe-300", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  color: #1C1C1C;
  line-height: 27px;
}

.aboutcompanysec_content-leftpart > p:nth-child(2) {
  margin-bottom: 20px;
}

.aboutcompanysec_content-rightpart img{
  margin-top: 32px;
}


/*----------------------СЕКЦИЯ ЦЕНЫ---------------------------*/

.pricessec{
  margin-top: 60px;
}

.pricessec_content{
  padding-left: 21px;
  padding-right: 21px;
}

.pricessec_content-header{
  display: flex;
  column-gap: 22px;
}

.pricessec_content-header-leftpart h2{
  font-family: "ProstoOne-400", sans-serif;
  font-size: 3rem;
  text-decoration: none;
  color: #141414;
  letter-spacing: 0.8px;
  margin-top: -10px;
}

.pricessec_content-header-rightpart{
  display: flex;
  flex-direction: column;
}

.pricessec_content-header-rightpart p{
  font-family: "Circe-300", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.8px;
  color: #000000;
  line-height: 20px;
}

.pricessec_content-header-rightpart-table{
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 30px;
  padding-right: 16px;
  justify-content: space-between;
  max-width: 484px;
  width: 100%;
  background: #EDF7FA;
  border-radius: 34px;
  margin-top: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.pricessec_content-header-rightpart-table-item{
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.pricessec_content-header-rightpart-table-item p{
  font-family: "ProstoOne-400", sans-serif;
  font-size: 1.25rem;
  color: #349AC0;
  letter-spacing: 0.8px;
}

.pricessec_content-header-rightpart-table-item > img:nth-child(4) {
  margin-left: 15px;
}

.pricessec_content-main{
  margin-top: 194px;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}


.pricessec_content-main-item{
  display: flex;
  flex-direction: column;
  max-width: 274px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 18px;
  padding-top: 60px;
  background: #EDF7FA;
  border-radius: 34px;
  position: relative;
}

.pricessec_content-main-item img{
  position: absolute;
  top: -119px;
}

.pricessec_content-main-item p{
  font-family: "Circe-300", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.8px;
  color: #000000;
  line-height: 20px;
}

.pricessec_content-main-item b{
  font-family: "ProstoOne-400", sans-serif;
  font-size: 3rem;
  color: #F33C2A;
}


.pricessec_content-main-item-price{
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.pricessec_content-main-item-price > b:nth-child(2) {
  font-family: "Prompt-400", sans-serif;
  font-size: 3rem;
  color: #F33C2A;
  line-height: 20px;
}


/*----------------------СЕКЦИЯ ВОПРОСЫ---------------------------*/

.questionssec{
  margin-top: 68px;
}

.questionssec_content{
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.questionssec_content-leftpart{
  padding-left: 68px;
}

.questionssec_content-rightpart{
  max-width: 708px;
  width: 100%;
}


.questionssec_content-rightpart h2{
  font-family: "ProstoOne-400", sans-serif;
  font-size: 3rem;
  text-decoration: none;
  color: #141414;
  letter-spacing: 0.8px;
  margin-bottom: 30px;
}



.questions-list{
  display: flex;
  flex-direction: column;
  max-width: 708px;
  width: 100%;
}

.questions-list-item{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #C2E1EC;
}

.questions-list-item:nth-child(1){
  border-top: 1px solid #C2E1EC;
}

.plus{
  width: 7px;
  height: 7px;
}

.questions-list-item p{
  font-family: "ProstoOne-400", sans-serif;
  font-size: 1.25rem;
  color: #349AC0;
  display: flex;
  align-items: center;
}

.questions-list-item-wrapinfo{
  margin-top: 19px;
}

.questions-list-item-wrapinfo p{
  font-family: "Circe-300", sans-serif;
  font-size: 1rem;
  color: #141414;
  line-height: 17px;
  max-width: 525px;
}

.questions-list-item-title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: transparent;
}

.questions-list-item-title-header{
  display: flex;
  justify-content: space-between;
  width: 100%;

}


.questions-list-item-wrapinfo_js{
  display: flex !important;
  flex-direction: column;
  padding-right: 85px;
  background: transparent;
  opacity: 0;
  animation: ani 1s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.questions-list-item-btnwrap-imgnoactive_js{
  display: none !important;
}

.questions-list-item-btnwrap-imgactive_js{
  display: block !important;

}

.questions-list-item-wrapinfo{
  display: none;
}

.questions-list-item-btnwrap{
  border: 0px;
  background: #C2E1EC;
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.questions-list-item-btnwrap:active{
  background: #349AC0;
}

.questions-list-item-btnwrap-imgactive{
  display: none;
}

.questions-list-item-btnwrap-imgnoactive{
  display: block;
}

.plus{
  display: flex !important;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.menus{
  display: flex !important;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.questions-list-item_js > div:nth-child(1) > div:nth-child(1) > button:nth-child(2) > div:nth-child(1) {
  display: none !important;
}

.questions-list-item_js > div:nth-child(1) > div:nth-child(1) > button:nth-child(2) > div:nth-child(2) {
  display: flex !important;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background: #349AC0;
}





/*----------------------СЕКЦИЯ КОНСУЛЬТАЦИЯ---------------------------*/

.consultsec{
  margin-top: 140px;
  background: url(../img/consultsec_background.png) no-repeat;
  background-size: cover;
}

.consultsec_content{
  padding-top: 72px;
  padding-left: 98px;
  padding-right: 98px;
  padding-bottom: 66px;
  background: #3FADD5;
  border-radius: 50px;
  max-width: 944px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 139px;
}

.consultsec_content-header h2{
  font-family: "ProstoOne-400", sans-serif;
  font-size: 2.625rem;
  color: #FFFFFF;
  line-height: 58.8px;
  margin-bottom: 22px;
}

.consultsec_content-header-line{
  width: 112px;
  height: 1px;
  background: #ffffff;
  margin-bottom: 30px;
}

.consultsec_content-header p{
  font-family: "Circe-300", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.8px;
  color: #FFFFFF;
  line-height: 28px;
  max-width: 370px;
  margin-bottom: 55px;
}

.consultsec_content-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 92px;
}

.consultsec_content-form p{
  font-family: "Circe-400", sans-serif;
  font-size: 0.875rem;
  color: #FFFFFF;
  line-height: 20px;
  margin-bottom: 12px;
}

.consultsec_content-form input{
  display: flex;
  background: #FFFFFF;
  font-family: "Circe-300", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.8px;
  color: #000000;
  line-height: 28px;
  outline: none;
  border: 0px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.consultsec_content-form-comment{
  margin-top: 27px;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
}

.consultsec_content-form-comment p{
  font-family: "Circe-400", sans-serif;
  font-size: 0.875rem;
  color: #FFFFFF;
  line-height: 20px;
}

.consultsec_content-form-comment textarea{
  resize: none;
  height: 73px;
  border: 0px;
  border-radius: 10px;
  outline: none;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  font-family: "Circe-300", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.8px;
  color: #000000;
  line-height: 28px;
}

.consultsec_content-form-btn{
  padding-top: 17px;
  padding-bottom: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 230px;
  width: 100%;
  background: #F33C2A;
  border-radius: 34px;
  border: 0px;
  font-family: "Circe-700", sans-serif;
  font-size: 0.875rem;
  color: #FFFFFF;
  line-height: 21px;
  margin-top: 39px;
  cursor: pointer;
}

.consultsec_content-form-btn:active{
  transform: scale(0.98);
}

.consultsec_content img{
  position: absolute;
  right: 74px;
  top: -74px;
}


/*----------------------СЕКЦИЯ ОТЗЫВЫ---------------------------*/

.reviewssec{
  margin-top: 75px;
}

.reviewssec_content{
  padding-left: 20px;
  padding-right: 20px;
}


.reviewssec_content-slider-item{
  padding-top: 21px;
  padding-left: 28px;
  padding-bottom: 15px;
  padding-right: 48px;
  background: #EDF7FA;
  border-radius: 42px;
  max-width: 378px;
  width: 100%;
  display: flex !important;
  align-items: flex-start;
  column-gap: 27px;
  height: 163px !important;
  margin: 0 10px;
}

.slick-list{
  margin: 0 -10px !important;
}

.reviewssec_content-slider-item-rightpart{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.reviewssec_content-slider-item-rightpart-header p{
  font-family: "Circe-300", sans-serif;
  font-size: 0.875rem;
  color: #000000;
  line-height: 20px;
}

.reviewssec_content-slider-item-rightpart-header-stars{
  display: flex;
}

.reviewssec_content-slider-item-rightpart-main h3{
  font-family: "Montserrat-700", sans-serif;
  font-size: 1rem;
  color: #327395;
  line-height: 18px;
}

.reviewssec_content-slider-item-rightpart-main p{
  margin-top: 5px;
  font-family: "Circe-300", sans-serif;
  font-size: 0.875rem;
  color: #141414;
  line-height: 17px;
}

.reviewssec_content-slider-item-rightpart-footer{
  display: flex !important;
  column-gap: 3px;
}

.reviewssec_content-slider > .slick-dots button {
  padding:0;
}
.reviewssec_content-slider > .slick-dots li > button {
  width:12px;
  height:12px;
  background: #E3E3E3;
}

.reviewssec_content-slider > .slick-dots li {
  width:12px !important;
  height:12px !important;
  border-radius: 50%!important;
  margin: 0 4px;
}

.reviewssec_content-slider > .slick-dots li[class="slick-active"] button {
    background: #FF9E2D;
} 

.reviewssec_content-slider > .slick-dots {
  bottom: auto;
  margin-top: 40px;
}

.reviewssec_content-slider > .slick-dots li > button {
  border-radius: 50%;
}

.slick-dots li button::before {
  content: none !important;
}





/*----------------------СЕКЦИЯ МЫ НА КАРТЕ---------------------------*/


.mapsec{
  margin-top: 76px;
  margin-bottom: 73px;
}

.mapsec_content h2{
  font-family: "ProstoOne-400", sans-serif;
  font-size: 3rem;
  color: #000000;
  line-height: 59px;
  margin-bottom: 21px;
}

.mapsec_content{
  padding-left: 20px;
}

.mapsec_content-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.yandexmap{
  width: 836px;
  height: 429px;
  -moz-border-radius: 56px 56px 56px 56px; /* Firefox */
  -webkit-border-radius: 56px 56px 56px 56px; /* Safari, Chrome */
  -khtml-border-radius: 56px 56px 56px 56px; /* KHTML */
  border-radius: 56px 56px 56px 56px; /* CSS3 */
  overflow: hidden;
  position: relative;
}

.ymaps-2-1-79-map-copyrights-promo > ymaps:nth-child(1) {
  display: none;
}

.ymaps-2-1-79-copyright__wrap {
  display: none !important;
}

.ymaps-2-1-79-ground-pane {
  filter: grayscale(1) !important;
  -ms-filter: grayscale(1) !important;
  -webkit-filter: grayscale(1) !important;
  -moz-filter: grayscale(1) !important;
  -o-filter: grayscale(1) !important;
}


/*----------------------ФУТЕР---------------------------*/

footer{
  background: #F0F0F0;
}

.footer_content{
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
}

.footer_content-links{
  display: flex;
  column-gap: 74px;
}

.footer_content-links-aboutcompany-list{
  display: flex;
  flex-direction: column;
}

.footer_content-links-clients-list{
  display: flex;
  flex-direction: column;
}

.footer_content-links-fran{
  display: flex;
  flex-direction: column;
}

.footer_content-links-fran-list{
  display: flex;
  flex-direction: column;
}

.footer_content-links-aboutcompany h3{
  font-family: "ProstoOne-400", sans-serif;
  font-size: 1rem;
  color: #000000;
  line-height: 20px;
  letter-spacing: 0.8px;
  margin-bottom: 11px;
}


.footer_content-links-aboutcompany-list a{
  font-family: "Circe-300", sans-serif;
  font-size: 0.875rem;
  color: #141414;
  line-height: 20px;
  letter-spacing: 0.8px;
  text-decoration: none;
}

.footer_content-links-aboutcompany-list a:hover{
  text-decoration: underline;
}


.footer_content-links-clients h3{
  font-family: "ProstoOne-400", sans-serif;
  font-size: 1rem;
  color: #000000;
  line-height: 20px;
  letter-spacing: 0.8px;
  margin-bottom: 11px;
}


.footer_content-links-clients-list a{
  font-family: "Circe-300", sans-serif;
  font-size: 0.875rem;
  color: #141414;
  line-height: 20px;
  letter-spacing: 0.8px;
  text-decoration: none;
}

.footer_content-links-clients-list a:hover{
  text-decoration: underline;
}

.footer_content-links-fran h3{
  font-family: "ProstoOne-400", sans-serif;
  font-size: 1rem;
  color: #000000;
  line-height: 20px;
  letter-spacing: 0.8px;
  margin-bottom: 11px;
}


.footer_content-links-fran-list a{
  font-family: "Circe-300", sans-serif;
  font-size: 0.875rem;
  color: #141414;
  line-height: 20px;
  letter-spacing: 0.8px;
  text-decoration: none;
}

.footer_content-links-fran-list a:hover{
  text-decoration: underline;
}


.footer_content_contacts{
  display: flex;
  flex-direction: column;
  margin-top: 74px;
  padding-right: 55px;
}

.footer_content_contacts p{
  display: flex;
  flex-direction: column;
  font-family: "ProstoOne-400", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  color: #349AC0;
  letter-spacing: 0.8px;
}

.footer_content_contacts a{
  display: flex;
  flex-direction: column;
  font-family: "Circe-300", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #232323;
  letter-spacing: 0.8px;
  line-height: 20px;
  text-decoration: underline;
}

.footer_content-consult{
  position: absolute;
  background: #349AC0;
  border-radius: 0px 0px 15px 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 261px;
  width: 100%;
  top: 0;
  right: 20px;
  display: flex;
  column-gap: 9px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer_content-consult p{
  font-family: "Circe-700", sans-serif;
  font-size: 0.75rem;
  text-decoration: none;
  color: #FFFFFF;
  letter-spacing: 0.8px;
  line-height: 20px;
  text-decoration: none;
}

.footer_content-copyrights{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 16px;
}

.footer_content-copyrights-rightpart{
  display: flex;
  column-gap: 4px;

}

.footer_content-copyrights-rightpart a{
  text-decoration: none;
}

.footer_content-copyrights-leftpart p{
  font-family: "Circe-300", sans-serif;
  font-size: 0.875rem;
  text-decoration: none;
  color: #232323;
  letter-spacing: 0.8px;
  line-height: 20px;
}
















/*----------!!!------------СТРАНИЦА НАШИ АДРЕСА---------------!!!------------*/


.background_locations{
  background: url(../img/background_firstsec_seconds.png) !important;
  background-repeat: no-repeat !important;
}

.firstsec_content-locations{
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 87px;
}

.firstsec_content-locations h1{
  font-size: 2.5rem;

}

.firstsec_content-locations h2{
  font-family: "Circe-300", sans-serif;
  line-height: 30px;
  color: #222222;
  margin-top: 20px;
}

.firstsec_content-nav{
  display: flex;
  align-items: baseline;
  column-gap: 5px;
  margin-top: 130px;
  margin-bottom: 110px;
}

.firstsec_content-nav img{
  margin-right: 4px;

}

.firstsec-background-image-locations {
  bottom: auto;
  top: -70px;
}

.firstsec_content-nav a {
  width: auto;
  padding: 0px;
  margin: 0px;
  font-family: "Circe-300", sans-serif;
  line-height: 21px;
  color: #999999;
}

.firstsec_content-nav a:nth-child(3) {
  color: #349AC0;
  font-family: "Circe-400", sans-serif;
}

.mapsec-locations{
  margin-top: 0px;

}

.yandexmap-locations{
  width: 100%;

}

.mapsec_content-container-leftpart{
  width: 100%;
}

.mapsec-locations{
  margin-bottom: 0px;
}

.mapsec_content-locations{
  padding-left: 20px;
  padding-right: 20px;
}

.mapsec_content-locations h2{
  font-size: 2rem;
  line-height: 40px;
}

.locationslistsec{
  margin-top: 77px;
}

.locationslistsec_content h2{
  font-size: 2rem;
  font-family: "ProstoOne-400", sans-serif;
  color: #000000;
  line-height: 40px;
  margin-bottom: 23px;
}

.locationslistsec_content{
  padding-left: 20px;
  padding-right: 20px;
}

.locationslistsec_content-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: space-between;
  grid-row-gap: 94px;
  column-gap: 48px;
  margin-bottom: 231px;
}

.locationslistsec_content-list-item{
  display: flex;
  flex-direction: column;
  max-width: 435px;
  width: 100%;
  position: relative;
}

.locationslistsec_content-list-item > img:nth-child(1){
  height: 327px;
  border-radius: 37px;
}

.locationslistsec_content-list-item:nth-child(2) > .locationslistsec_content-list-item-isopen{
  background: #5B5B5B;
}

.locationslistsec_content-list-item h3{
  font-family: "ProstoOne-400", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  color: #141414;
  letter-spacing: 0.8px;
  margin-top: 18px;
}

.locationslistsec_content-list-item p{
  font-family: "Circe-300", sans-serif;
  font-size: 0.938rem;
  color: #141414;
  letter-spacing: 0.8px;
  line-height: 27px;
}

.locationslistsec_content-list-item-buttons{
  margin-top: 6px;
  display: flex;
  column-gap: 8px;
}

.locationslistsec_content-list-item-buttons a{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 170px;
  width: 100%;
  background: #3FACD5;
  border-radius: 34px;
  font-family: "Circe-700", sans-serif;
  font-size: 0.875rem;
  color: #FFFFFF;
  line-height: 21px;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.locationslistsec_content-list-item-buttons a:nth-child(2){
  max-width: 230px;
  width: 100%;
  background: #CEEEF9;
  color: #1E1E1E;
}

.locationslistsec_content-list-item-buttons a:active{
  transform: scale(0.98);
}

.locationslistsec_content-list-item-isopen{
  background: #349AC0;
  border-radius: 0px 0px 15px 15px;
  max-width: 193px;
  width: 100%;
  padding-top: 9px;
  padding-bottom: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  position: absolute;
  top: 0;
  left: 35px;
}

.locationslistsec_content-list-item-isopen p{
  font-family: "Circe-700", sans-serif;
  font-size: 0.875rem;
  color: #FFFFFF;
  line-height: 21px;
  letter-spacing: 0.8px;
}



/*----------!!!------------СТРАНИЦА АКЦИИ---------------!!!------------*/

.firstsec_content-promotion h2{
  max-width: 545px;
}

.firstsec-background-image-promotion {
  right: 145px;
  top: -83px;
}

.specialofferssec_content{
  padding-left: 20px;
  padding-right: 20px;
}

.specialofferssec_content h2{  
  font-family: "ProstoOne-400", sans-serif;
  font-size: 2rem;
  color: #000000;
  line-height: 40px;
  margin-bottom: 20px;
}

.specialofferssec_content-list{
  display: flex;
  justify-content: space-between;
  margin-bottom: 84px;

}

.specialofferssec_content-list-item{
  display: flex;
  flex-direction: column;
  max-width: 435px;
  width: 100%;
}

.specialofferssec_content-list-item-imagecontainer{
  background: #B2DAE9;
  border-radius: 37px;
  max-width: 435px;
  width: 100%;
  height: 330px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.specialofferssec_content-list-item-imagecontainer img{
  
}

.specialofferssec_content-list-item h3{
  font-family: "ProstoOne-400", sans-serif;
  font-size: 1.25rem;
  color: #141414;
  line-height: 23px;
  letter-spacing: 0.8px;
  margin-bottom: 8px;
  margin-top: 16px;
}

.specialofferssec_content-list-item p{
  font-family: "Circe-300", sans-serif;
  font-size: 1rem;
  color: #141414;
  line-height: 18px;
  margin-bottom: 8px;
}

.specialofferssec_content-list-item a{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 170px;
  width: 100%;
  background: #3FACD5;
  border-radius: 34px;
  font-family: "Circe-700", sans-serif;
  font-size: 0.875rem;
  color: #FFFFFF;
  line-height: 21px;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.specialofferssec_content-list-item a:active{
  transform: scale(0.98);
}

.subscribesec_content{
  background: url(../img/subscribesec_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 37px;
  padding-top: 53px;
  padding-bottom: 43px;
  padding-left: 43px;
  padding-right: 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

.subscribesec_content h2{
  font-family: "ProstoOne-400", sans-serif;
  font-size: 1.75rem;
  color: #FFFFFF;
  line-height: 40px;
  letter-spacing: 0.8px;
  max-width: 659px;
  width: 100%;
}

.subscribesec_content-messengers{
  display: flex;
  column-gap: 37px;
}

.subscribesec_content-messengers a:active{
  transform: scale(0.98);
}

.subscribesec_character{
  position: absolute;
  left: 53%;
  bottom: 0;
}



/*----------!!!------------СТРАНИЦА СЕРТИФИКАТЫ---------------!!!------------*/

.firstsec_content-sertificates h2 {
  margin-top: 7px;
  font-size: 1.25rem;
  letter-spacing: 0;
  line-height: 27px;
}

.firstsec_content-sertificates > .firstsec_content-nav{
  margin-top: 125px;
  margin-bottom: 103px;
}

.firstsec-background-image-sertificates {
  top: -60px;
  right: 145px;
}

.sertificatessec{
  margin-bottom: 97px;
}

.sertificatessec_content{
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.sertificatessec_content-leftpart h2{
  font-family: "ProstoOne-400", sans-serif;
  font-size: 2rem;
  color: #000000;
  line-height: 40px;
}

.sertificatessec_content-leftpart p{
  font-family: "Circe-300", sans-serif;
  font-size: 1.25rem;
  color: #141414;
  line-height: 27px;
  margin-top: 23px;
  max-width: 700px;
  width: 100%;
}

.sertificates_content-list{
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
}

.sertificatessec_content-rightpart > img:nth-child(1) {
  margin-top: 31px;
}



/*----------!!!------------СТРАНИЦА КОНТАКТЫ---------------!!!------------*/


.firstsec-background-image-contacts{
  right: 235px;
  top: -70px;
  width: 555px;
}

.contactsdatasec{
  margin-bottom: 58px;
  margin-top: 16px;
}

.contactsdatasec-content{
  padding-left: 20px;
  padding-right: 20px;
}

.contactsdatasec-content h2{
  font-family: "ProstoOne-400", sans-serif;
  font-size: 1.25rem;
  color: #000000;
  line-height: 27px;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
}

.contactsdatasec-content-list{
  background: #3FADD5;
  border-radius: 77px;
  padding-top: 69px;
  padding-bottom: 69px;
  padding-left: 74px;
  padding-right: 74px;
  justify-content: center;
  column-gap: 14px;
  display: flex;
}

.contactsdatasec-content-list-item{
  background: #FFFFFF;
  border-radius: 34px;
  padding-top: 30px;
  padding-left: 32px;
  padding-bottom: 30px;
  padding-right: 30px;
  max-width: 345px;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.contactsdatasec-content-list-item h3{
  font-family: "ProstoOne-400", sans-serif;
  font-size: 0.875rem;
  color: #141414;
  line-height: 17px;
  letter-spacing: 0.8px;
}

.contactsdatasec-content-list-item p{
  margin-top: 11px;
  font-family: "Circe-300", sans-serif;
  font-size: 1rem;
  color: #141414;
  line-height: 20px;
}


.mapsec_content-contacts{
  padding-left: 20px;
  padding-right: 20px;
}

.mapsec_content-contacts h2{
  font-family: "ProstoOne-400", sans-serif;
  font-size: 1.25rem;
  color: #000000;
  line-height: 27px;
  letter-spacing: 0.8px;
  margin-bottom: 17px;
}

.mapsec-contacts{
  margin-bottom: 66px;
}

.mapsec_content-container-rightpart{
  display: flex;
  flex-direction: column;
}

.mapsec_content-container-rightpart h2{
  font-family: "ProstoOne-400", sans-serif;
  font-size: 1.25rem;
  color: #141414;
  line-height: 27px;
  letter-spacing: 0.8px;
  margin-bottom: 30px;
}

.mapsec_content-container-contacts > .mapsec_content-container-leftpart {
  width: auto;
}

.mapsec_content-container-contacts{
  justify-content: unset;
  column-gap: 43px;
  align-items: center;
}

.mapsec_content-container-rightpart-contacts p{
  font-family: "Circe-300", sans-serif;
  font-size: 1rem;
  color: #141414;
  line-height: 20px;
}

.mapsec_content-container-rightpart-contacts a{
  font-family: "Circe-300", sans-serif;
  font-size: 1rem;
  color: #3FACD5;
  line-height: 20px;
}

.mapsec_content-container-rightpart-contacts-time{
  margin-top: 20px;
}

.mapsec_content-container-rightpart-contacts-button{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 248px;
  width: 100%;
  background: #3FACD5;
  border-radius: 34px;
  font-family: "Circe-700", sans-serif !important;
  font-size: 0.875rem;
  color: #FFFFFF !important;
  line-height: 21px;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 30px;
}



/*----------!!!------------СТРАНИЦА ОТЗЫВЫ---------------!!!------------*/

.firstsec-background-image-reviews{
  right: 130px;
  top: -78px;
  
}

.firstsec_content-reviews > .firstsec_content-nav {
  margin-top: 131px;
}

.firstsec_content-reviews h2{
  max-width: 575px;
}

.reviewspage-list-item{
  display: flex;
  align-items: center;
  column-gap: 17px;
  padding-top: 37px;
  padding-bottom: 37px;

}

.reviewssec_content-list-item{
  margin: 0;
}

.reviewspage-list-item p{
  font-family: "ProstoOne-400", sans-serif;
  font-size: 3rem;
  color: #141414;
  line-height: 27px;
  letter-spacing: 0.8px;
  margin-top: 0px;
}

.reviewssec_content-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  margin-bottom: 45px;
}

.reviewssec-reviewspage{
  margin-top: 20px;
}

.reviewssec_content-list-morebtn{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 248px;
  width: 100%;
  background: #3FACD5;
  border-radius: 34px;
  font-family: "Circe-700", sans-serif;
  font-size: 0.875rem;
  color: #FFFFFF;
  line-height: 21px;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
  margin-bottom: 89px;
}

.reviewssec_content-list-morebtn:active{
  transform: scale(0.98);
}



/*----------!!!------------СТРАНИЦА НОВОСТИ---------------!!!------------*/


.firstsec-background-image-news{
  top: -55px;
  right: 107px;
}

.tabmenusec_content{
  padding-left: 20px;
  padding-right: 20px;
}

.tabs{
  margin-top: 28px;
}

.tabs>input[type="radio"] {
  display: none;
}

.tabs>div {
  /* скрыть контент по умолчанию */
  display: none;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
  display: block;
}

.tabs>label {
  display: inline-block;
  text-align: center;
  user-select: none;
  background-color: transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  background: transparent;
  border-radius: 34px;
  border: 1px solid #349AC0;

  font-family: "Circe-400", sans-serif;
  font-size: 0.875rem;
  color: #7D7D7D;
  line-height: 21px;

  padding-top: 14px;
  padding-bottom: 14px;
}

.label1 {
  max-width: 104px !important;
  width: 100%;
  margin-right: 8px;
}

.label2 {
  margin-left: -5px;
  max-width: 168px !important;
  width: 100%;
  margin-right: 8px;
}

.label3 {
  margin-left: -5px;
  max-width: 163px !important;
  width: 100%;
}


.tabs>input[type="radio"]:checked+label {
  background: #CEEEF9;
  opacity: 1;
  border: 1px solid #CEEEF9;
}

.content-1{
  margin-top: 28px;
}

.content-2{
  margin-top: 28px;
}

.content-3{
  margin-top: 28px;
}







.tabmenusec_content-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: space-between;
  grid-row-gap: 58px;
  column-gap: 48px;
  margin-bottom: 88px;
}

.tabmenusec_content-list-item{
  display: flex;
  flex-direction: column;
  max-width: 435px;
  width: 100%;
  position: relative;
}

.tabmenusec_content-list-item > img:nth-child(1){
  height: 327px;
  border-radius: 37px;
}

.tabmenusec_content-list-item:nth-child(2) > .tabmenusec_content-list-item-isopen{
  background: #5B5B5B;
}

.tabmenusec_content-list-item h3{
  font-family: "ProstoOne-400", sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  color: #141414;
  letter-spacing: 0.8px;
  margin-top: 12px;
}

.tabmenusec_content-list-item p{
  font-family: "Circe-300", sans-serif;
  font-size: 0.938rem;
  color: #141414;
  letter-spacing: 0.8px;
  line-height: 27px;
  max-width: 380px;
  margin-top: 3px;
}

.tabmenusec_content-list-item-buttons{
  margin-top: 9px;
  display: flex;
  column-gap: 8px;
}

.tabmenusec_content-list-item-buttons a{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 170px;
  width: 100%;
  background: #3FACD5;
  border-radius: 34px;
  font-family: "Circe-700", sans-serif;
  font-size: 0.875rem;
  color: #FFFFFF;
  line-height: 21px;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tabmenusec_content-list-item-buttons a:nth-child(2){
  max-width: 230px;
  width: 100%;
  background: #CEEEF9;
  color: #1E1E1E;
}

.tabmenusec_content-list-item-buttons a:active{
  transform: scale(0.98);
}

.tabmenusec_content-list-item-date{
  background: #FFFFFF;
  border-radius: 0px 0px 15px 15px;
  max-width: 103px;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  position: absolute;
  top: 0;
  left: 35px;
}

.tabmenusec_content-list-item-date p{
  font-family: "Circe-400", sans-serif;
  font-size: 0.875rem;
  color: #242424;
  letter-spacing: 0.8px;
}



/*----------!!!------------СТРАНИЦА НОВОСТЬ 1---------------!!!------------*/


.firstsec_content-nav-newsitem a:nth-child(3){
  color: #949494;
  font-family: "Circe-300", sans-serif;
}

.firstsec_content-nav-newsitem a:nth-child(4){
  color: #349AC0;
  font-family: "Circe-400", sans-serif;
}

.newsitemsec_content{
  padding-left: 20px;
  padding-right: 20px;
}

.newsitemsec_content-header{
  display: flex;
  column-gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.newsitemsec_content-header h2{
  font-family: "ProstoOne-400", sans-serif;
  font-size: 1.25rem;
  color: #141414;
  line-height: 27px;
  letter-spacing: 0.8px;
}

.newsitemsec_content-header p{
  font-family: "ProstoOne-700", sans-serif;
  font-size: 0.75rem;
  color: #7D7D7D;
  line-height: 17px;
  border: 1px solid #349AC0;
  border-radius: 34px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  max-width: 101px;
}

.newsitemsec_content-header-image{
  width: 100%;
  margin-bottom: 82px;
}

.newsitemsec_content-main{
  display: flex;
  justify-content: space-between;
  margin-bottom: 62px;
}

.newsitemsec_content-main a{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 248px;
  width: 100%;
  background: #3FACD5;
  border-radius: 34px;
  font-family: "Circe-700", sans-serif;
  font-size: 0.875rem;
  color: #FFFFFF;
  line-height: 21px;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 37px;
}

.newsitemsec_content-main a:active{
  transform: scale(0.98);
}

.newsitemsec_content-main b{
  font-family: "Circe-700", sans-serif;
  font-size: 0.938rem;
  color: #141414;
  line-height: 20px;
}

.newsitemsec_content-main h3{
  font-family: "Circe-700", sans-serif;
  font-size: 0.938rem;
  color: #141414;
  line-height: 20px;
}

.newsitemsec_content-main p{
  font-family: "Circe-300", sans-serif;
  font-size: 0.938rem;
  color: #141414;
  line-height: 20px;
}

.newsitemsec_content-main-leftpart-list-one {
  padding-left: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.newsitemsec_content-main-leftpart-list-one > li{
  font-family: "Circe-700", sans-serif;
  font-size: 0.938rem;
  color: #141414;
  line-height: 20px;
  color: #349AC0;
}

.newsitemsec_content-main-leftpart > b:nth-child(3) {
  color: #349AC0;
  margin-top: 20px;
  display: flex;
}

.newsitemsec_content-main-leftpart-list-two{
  font-family: "Circe-300", sans-serif;
  font-size: 0.938rem;
  color: #141414;
  line-height: 20px;
  padding-left: 14px;
  margin-bottom: 20px;
}

.newsitemsec_content-main-leftpart-list-two > li{
  font-family: "Circe-300", sans-serif;
  font-size: 0.938rem;
  color: #141414;
  line-height: 20px;
  color: #141414;
}
